

.ActInfo .am-card-header-content {
  flex: 9 10;
}

.AllImage .am-flexbox-item {
  margin-left: 0px;
}

.AllImage .imgItem {
  padding: 5px;
}

.AllImage img {
  /* margin: 5px; */
  width: 100%;
}

.App .am-list-content, .App .am-textarea-label {
  font-size: 15px !important;
}

.App .CompUploadHistory .am-list-content {
  display: flex;
}

.App .CompUploadHistory .textTag {
  display: inline-grid;
  font-size: 11px;
  line-height: 10px;
  height: 28px;
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #7d7d7d;
}

.App .historyItemImage {
  display: flex;
  flex : 1 3;
}

.App .historyItemText {
  display: flex;
  flex : 2 3;
  margin-left: 10px;
}

.App .am-textarea-label {
  width : 120px;
}
